.tab-btn {
    transition: all 0.3s;
    border-radius: 9999px;
    font-weight: 600;
}

.tab-btn.active {
    background-color: #fbbf24;
    color: black;
}

.card {
    transition: all 0.4s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.4);
}